<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Authentication</title>
</head>
<body>
    <h2>User Registration</h2>
    <form id="registrationForm">
        <label for="login">login:</label><br>
        <input type="text" id="login" name="login" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="role">Role:</label><br>
        <input type="text" id="role" name="role" required><br>
        <button type="button" onclick="registerUser()">Register</button>
    </form>

    <script>
        function registerUser() {
            var form = document.getElementById("registrationForm");
            var formData = new FormData(form);
            var jsonObject = {};
            formData.forEach(function(value, key){
                jsonObject[key] = value;
            });
            var json = JSON.stringify(jsonObject);

            fetch('/api/register/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: json
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                window.location.href = "http://127.0.0.1:8000/login/";

            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>